<footer class="footer">
 <div class="footer-content">
    <hr>
    <p>CSUMB 2024</p>
    <p>Yegor Donaldson, Alan Eckahus, Quentin Hellet, Lorenzo Gonzalez</p>
    <p>CST-336 Final Project</p>
    </div>
</footer>
