<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mealplan">Add you your Meal Plan</a></li>
        <li><a href="/editmeals">Update and Delete Meals</a></li>
        <br>
        <strong><li><a href="/logout">logout</a></li></strong>
    </ul>
</nav>
<hr>