<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/meal" method="post">
        <span><%=mealData[0].calories%></span>
        <input type="text" name="meal" value="<%=mealData[0].meal%>">
        <input type="text" name="time" value="<%=mealData[0].time%>">
        <input type="hidden" value="<%=mealData[0].date%>" name="dateV" id="dateV">
        <input type="date" name="date" id="date">

    </form>
    <script src="/js/editMeal.js"></script>

</body>
</html>