
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< Updated upstream
    <title>Document</title>

</head>
<body>
    <%- include('partials/menu.ejs') %>

<P>CST336 Project</P>
    <hr>
    <h1>Home Page</h1>

    <form action="/mealplan">
    <button>My Meal Plans</button>
    </form>
    <br>
=======
    <title>Home</title>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="styles.css"> 
</head>
<body> 
    
    <%- include('partials/logged_in_menu') %> 
    <div class="main-content">
        <h1 class="h1home">Home!</h1> 
        <p>Welcome!</p>
    </div>
>>>>>>> Stashed changes

</body>
<%- include('partials/footer') %>
</html>