<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <%- include('partials/head') %>
</head>
<body class="body-login"></body>
    <div>
    <h1 class="h1login">Login</h1> 

    <form action="/login" method="post" class="form-login"> 
   <strong><label for="username">Username:</label></strong> 
    <input type="text" id="username" name="username" required>

    <strong><label for="password">Password:</label></strong>
    <input type="password" id="password" name="password" required>

     <button type="submit">Login</button>
     </form>
    </div>
</body>
<%- include('partials/footer') %>
</html>