<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan</title>
</head>
<body>

    <%- include('partials/menu.ejs') %>
    
    <P>CST336 Project</P>
    <hr>

    <h1>Add a Meal to your meal plan</h1>

    <form action="/mealplan" method="post">
    <label for="mealName">Meal Name</label>
    <input id="mealName" name="mealName" type="text">
    <br/><br/> 
    <label for="mealType">Meal Type</label>
    <select id="mealType" name="mealType">
    <option value="breakfast">Breakfast</option>
    <option value="lunch">Lunch</option>
    <option value="dinner">Dinner</option>
    <option value="snack">Snack</option>
    </select>
    <br/><br/> 
    <label for="ingredients">Ingredients</label>
    <textarea id="ingredients" name="ingredients"></textarea>
    <br/><br/> 
    <label for="calories">Calories</label>
    <input id="calories" name="calories" type="number">
    <br/><br/> 
    </form>
    
    <button>Add Meal</button>
</form>
<script src="/js/author.js">
</script>
</body>
</html>