<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition</title>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="styles.css"> 
</head>
<body> 

    <%- include('partials/logged_in_menu') %>

    <div class="container-nutrition">
        <h1>Nutrition</h1>
        <form action="/nutritionSearch" method="post" class="form-nutrition"> 
            <input type="text" name="foodName" placeholder="Enter food name">
            <button type="submit">Submit</button>
        </form>

        <% if (searched) { %>
            <div class="searched-facts-nutrition">
                <%- include('partials/searchedFacts') %>
            </div>
        <% } %>
    </div>

</body>
<%- include('partials/footer') %>
</html>
